.App {
  margin: 0;
  font-size: 1.3em;
  background-color: whitesmoke;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, p {
  margin-top: 0;
}

.header {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
  padding: 1em;
}

.header--title {
  margin: 1em;
}

.header--logo {
  width: 4em;
  opacity: 0.8;
}

.cards--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 2em;
  background-color: white;
  border-radius: 0.5em;
  box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card--img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  object-position: top center;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  overflow: hidden;
}

.card--wrapper {
  margin: 1em;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
}

.card--title {
  height: 3em;
  font-size: 1.6em;
  padding: 0.5em;
  color: rgb(54, 54, 54);
  box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.2);
}

.card--list {
  padding: 0;
  font-size: 1.2em;
}

.card--list_item {
  list-style: none;
  margin-left: 0;
  margin-top: 0.4em;
  text-transform: capitalize;
}

.card a {
  margin-top: auto;
  align-self: flex-end;
  text-transform: none;
  background-color: rgb(56, 56, 56);
  color: whitesmoke;
  padding: 0.3em;
  border-radius: 0.3em;
}

.card--description {
  font-size: 1em;
}


.footer {
  margin-top: auto;
  background-color: rgb(44, 44, 44);
  color: whitesmoke;
  font-size: 1.5em;
  padding: 1em;
}