.App {
  margin: 0;
  font-size: 1.3em;
  background-color: whitesmoke;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, p {
  margin-top: 0;
}

.header {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
  padding: 1em;
}

.header--title {
  margin: 0.8em 0 0.8em 0.8em;
}

.card {
  width: 200px;
  margin: 2em;
  padding: 2em;
  background-color: white;
  border-radius: 0.5em;
  box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.1);
}

.card--title {

}

.card--list_item {
  list-style: none;
  margin-left: 0;
}


.footer {
  margin-top: auto;
  background-color: rgb(44, 44, 44);
  color: whitesmoke;
  font-size: 1.5em;
  padding: 1em;
}