.App {
  margin: 0;
  font-size: 1.3em;
  background-color: whitesmoke;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, p {
  margin-top: 0;
}

.header {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
  padding: 1em;
}

.header--title {
  margin: 0.8em 0 0.8em 0.8em;
}

.header--logo {
  width: 4em;
  opacity: 0.8;
}

.cards--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  width: 250px;
  margin: 2em;
  background-color: white;
  border-radius: 0.5em;
  box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.1);
}

.card--img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
}

.card--wrapper {
  margin: 1em;
}

.card--title {
  padding: 0;
}

.card--list {
  padding: 0;
  font-size: 1.2em;
}

.card--list_item {
  list-style: none;
  margin-left: 0;
}

.card--description {
  font-size: 1em;
}


.footer {
  margin-top: auto;
  background-color: rgb(44, 44, 44);
  color: whitesmoke;
  font-size: 1.5em;
  padding: 1em;
}